.nav-logo, .nav-toggle,
.nav-contact, .nav-social {
    font-family: var(--font-alt);
    font-weight: 400;
    font-size: 20px;
}

.nav-logo {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    margin: 0;
    z-index: 5001;
}

.nav-toggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    margin: 0;
    border: none;
    background: none;
    line-height: inherit;
    cursor: pointer;
    z-index: 5001;
}

.nav-toggle:focus {
    outline: none;
}

.nav-panel {
    font-family: var(--font-alt);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.nav-veil {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    background-color: #fff;
    opacity: 0;
    z-index: 0;
    
}

body.nav--on .nav-panel {
    visibility: visible;
    opacity: 1;
}

body.nav--on .nav-veil {
    opacity: 1;
}

.nav-panel ul {
    position: relative;
    margin: 5rem 0 0 2rem;
    list-style: none;
    z-index: 1;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.5s; 
}

body.nav--on .nav-panel ul {
    opacity: 1;
    transform: translateY(0);
}

.nav-panel ul li {
    margin: 1rem 0 0 0;
}

.nav-panel ul ul {
    margin: 1rem 0 0 1rem;
    list-style: none;
}

.nav-panel ul li ul li {
    margin: 1rem 0 0 0;
}
.nav-panel__contact {
    position: fixed;
    bottom: 2rem;
}

.nav-panel a.active {
    font-style: italic;
}

.nav-panel a.contact {
    font-weight: 800;
}


.nav-social, .nav-contact {display: none;}
@media (min-width: 1600px) {
    .nav-panel__contact {display: none;}
    .nav-social, 
    .nav-contact {
        display: block;
        position: fixed;
        bottom: 2rem;
        z-index: 5001;
    }
    .nav-social {right: 2rem;}
    .nav-contact {left: 2rem;}
}

.nav-contact a {
    display: block;
}

