.nav-logo, .nav-toggle,
.nav-contact, .nav-social {
    font-family: var(--font-alt);
    font-weight: 800;
    font-size: 20px;
}

.nav-logo {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    margin: 0;
    z-index: 5001;
}

.nav-toggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    margin: 0;
    border: none;
    background: none;
    line-height: inherit;
    cursor: pointer;
    z-index: 5001;
}

.nav-toggle:focus {
    outline: none;
}

.nav-panel {
    font-family: var(--font-alt);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 5000;

    transform: translatey(100vh);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.5,0.25,0,1);
}

body.nav--on .nav-panel {
    transform: translateY(0);
}

.nav-panel ul {
    margin: 5rem 0 0 2rem;
    list-style: none;
}

.nav-panel ul li {
    margin: 1rem 0 0 0;
}

.nav-panel ul ul {
    margin: 1rem 0 0 1rem;
    list-style: none;
}

.nav-panel ul li ul li {
    margin: 1rem 0 0 0;
}

.nav-social{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 5001;
}

.nav-contact{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 5001;
}

.nav-contact a {
    display: block;
}