.module {
  position: relative;
  margin-top: var(--rhythm);
  z-index: 1000;
}

/*FIX FIRST MODULE TOP MARGIN*/
#header-landscape + .module,
#header-onscroll + .module,
#header-portrait + .module {
    margin-top: calc(var(--rhythm) - (var(--rhythm) / 2));
}
