html {
  --width-text: 835px;
  --width-body: 1200px;
  --width-site: 1600px;
  --width-full: 1920px;
  --gutter: 2rem;
  --rhythm: 110px;
  --header-heigth: 3rem;
}

.text {
  max-width: var(--width-text);
  width: 100%;
  margin: 0 auto;
}

.body {
  max-width: var(--width-body);
  width: 100%;
  margin: 0 auto;
}

.site {
  max-width: var(--width-site);
  width: 100%;
  margin: 0 auto;
}

.full {
  max-width: var(--width-full);
  width: 100%;
  margin: 0 auto;
}

.rhythm {
  margin-top: var(--rhythm);
}
