html {
	--width-text: 835px;
	--width-body: 1200px;
	--width-site: 1600px;
	--width-full: 1920px;

	--gutter: 2rem;
	--rhythm: 110px;
	--header-heigth: 3rem;

	--color-bg: #ffffff;
	--color-fg: #313131;
	--color-hl: #202644;
	--color-hl-inverted: #FFF;
}





/*===========================================
                BREAKPOINTS
============================================*/

.landscape{display: block;}
@media (max-width: 735px) {.landscape {display: none;}}
.portrait {display: block;}
@media (min-width: 735px) {.portrait {display: none;}}





/*===========================================
                  MISC
===========================================*/

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

::selection {
  background-color: var(--color-hl); 
  color: var(--color-hl-inverted);
}

.text {
  max-width: var(--width-text);
  width: 100%;
  margin: 0 auto;
}

.body {
  max-width: var(--width-body);
  width: 100%;
  margin: 0 auto;
}

.site {
  max-width: var(--width-site);
  width: 100%;
  margin: 0 auto;
}

.full {
  max-width: var(--width-full);
  width: 100%;
  margin: 0 auto;
}

.rhythm {
  margin-top: var(--rhythm);
}





/*===========================================
					FONTS
============================================*/

/* cormorant-garamond-regular - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Garamond Regular'), local('CormorantGaramond-Regular'),
       url('../fonts/Garamond/cormorant-garamond-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Garamond/cormorant-garamond-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-garamond-italic - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  src: local('Cormorant Garamond Italic'), local('CormorantGaramond-Italic'),
       url('../fonts/Garamond/cormorant-garamond-v7-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Garamond/cormorant-garamond-v7-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-garamond-700italic - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 700;
  src: local('Cormorant Garamond Bold Italic'), local('CormorantGaramond-BoldItalic'),
       url('../fonts/Garamond/cormorant-garamond-v7-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Garamond/cormorant-garamond-v7-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cormorant-garamond-700 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'),
       url('../fonts/Garamond/cormorant-garamond-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Garamond/cormorant-garamond-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/Inter/inter-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/Inter/inter-v1-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v1-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/Inter/inter-v1-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v1-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  --font-base: 'Cormorant Garamond', sans-serif;
  --font-alt: 'Inter', sans-serif;
  font-size: 16px;
  font-family: var(--font-base);
}





/*==========================================
				MODULES
===========================================*/

.module {
  position: relative;
  margin-top: var(--rhythm);
  z-index: 1000;
}

/*FIX FIRST MODULE TOP MARGIN*/
#header-landscape + .module,
#header-onscroll + .module,
#header-portrait + .module {
    margin-top: calc(var(--rhythm) - (var(--rhythm) / 2));
}
